header {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 0;
    position: relative;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;;
    align-items: center;
    background-color: #1a2b32;
    padding: 10px 20px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    color: white;
    font-family: 'Arial', sans-serif;
}

nav h1 {
    margin: 0;
    font-size: 24px;
    color: white;
    flex: 1;
    text-align: left;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex: 2;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

#search-bar {
    display: flex;
    gap: 10px;
    flex: 1;
    justify-content: flex-end;
}

#searchInput {
    padding: 5px;
    font-size: 16px;
}

#searchInput:focus {
    border-color: #007b7f;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007b7f;
    color: white;
    border: none;
    border-radius: 20px;
}

button:hover {
    background-color: #777;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url('./images/new-york.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

/* get that shady look for the image */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

main {
    position: relative;
    z-index: 2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    color: white;
}

main h2 {
    font-size: 54px;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.2;
}

main h2 span {
    display: block;
}

.main-content p {
    font-size: 18px;
    margin-top: 20px;
    color: #ddd;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    max-width: 30%;
    text-align: left;
}

main.about-us p {
    max-width: 100%;
    text-align: left;
    margin-top: 20px;
    padding-top: 0 5%;
    padding-left: 0 5%;
}

/* Sociálne ikony */
.social-sites {
    position: absolute;
    top: 33%;
    left: 2%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 2;
}

.social-sites img {
    width: 32px;
    height: 32px;
    border-radius: 20%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.social-sites img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.5);
}

#team {
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

#team h3 {
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    margin: 0;
    white-space: nowrap;
}

#team h3 span {
    display: block;
    text-align: left;
}

.team-members {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    flex: 1;
}

.team-member {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.team-member h4 {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}

.team-member h5 {
    font-size: 20px;
    font-weight: bold;
    color: #ddd;
}

.team-member p {
    font-size: 18px;
    color: #ddd;
}

.travel p {
    max-width: 100%;
    color: #ddd;
}

#contact-form {
    width: 70%;
    padding: 20px 10%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#contact-form label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
    text-align: left;
}

#contact-form input,
#contact-form textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #ccc;
}

#contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007b7f;
    color: white;
    border: none;
    border-radius: 5px;
}

#contact-form button:hover {
    background-color: #005f5f;
}

.recommendations-container {
    position: absolute;
    top: 10%;
    right: 5%;
    width: 40%;
    max-height: 80vh;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow-y: auto;
    display: none;
    z-index: 2;
}

.recommendation-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    margin-bottom: 20px;
}

.recommendation-card:hover {
    transform: scale(1.05);
}

.recommendation-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.card-content p {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 15px;
}

.visit-btn {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: #007b7f;
    color: white;
    border: none;
    border-radius: 5px;
}

.visit-btn:hover {
    background-color: #005f5f;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 2;
    color: white;
}
